.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url('./images//login-background.png');
  background-size: cover;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
}

.login-input {
  width: 50%;
  height: 38px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  border: solid grey 1px;
}

#login-button {
  width: 20%;
  height: 38px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: #008b8b;
  font-weight: 900;
  font-size: 17px;
}

#login-button:hover {
  width: 22%;
  height: 40px;
  font-size: 18px;
}

.login-input:hover {
  border: solid black 1px;
}

.logo-image {
  width: 250px;
  height: 125px;
  margin-bottom: 80px;
}